{% extends "pages/base.html" %}

{% block title %} Contact {% endblock %}

{% block content %}
<h3><strong>Contact</strong></h3>
<br/>
<p><strong><u>Phone number</u></strong>: (+84)777458782</p>
<p><strong><u>Email</u></strong>: nguyenkhoi8071@gmail.com</p>
<p><strong><u>Facebook</u></strong>: <a href="https://www.facebook.com/khoivn817">facebook.com/khoivn817</a></p>
<p><strong><u>LinkedIn</u></strong>: <a href="https://www.linkedin.com/in/vnkhoi8071">linkedin.com/in/vnkhoi8071</a></p> 
<p><strong><u>Github</u></strong>: <a href="https://github.com/vnk8071">github.com/vnk8071</a></p>
{% endblock %}